# informações do banco de dados
DB_HOST=SEU_DB_HOST
DB_PORT=SEU_DB_PORT
DB_USER=SEU_DB_USER
DB_ROOT_PASSWORD=SUA_DB_ROOT_PASSWORD
DB_PASSWORD=SUA_DB_PASSWORD
DB_DATABASE=SUA_DB_DATABASE

# informações do servidor
HOST=SEU_HOST
PORT=SEU_PORT

# token para o JWT
JWT_SECRET=SEU_JWT_SECRET
